body {
margin:0;   
background-color: #000000;
font-family: Arial, Helvetica, sans-serif;
}

.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/high-tech.jpg");
  background-color: #000000;
  height: 300px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}




.rc_nav {
  overflow: hidden;
  background-color: #000000;
  text-align: center;
  z-index: 6;
}

.rc_nav a {
 display: inline-block;
 margin-right: -4px;  /* inline-block gap fix */
 color: #fff;
 padding: 22px 22px;
 text-decoration: none;
 font-family: Poppins;
 font-size: 18px;
 -webkit-transition: background 0.3s linear;
 -moz-transition: background 0.3s linear;
 -ms-transition: background 0.3s linear;
 -o-transition: background 0.3s linear;
 transition: background 0.3s linear;
 z-index: 9;
}

.rc_nav a:hover {
  background-color: #151B24;
  color: #FFFFFF;
}

.rc_nav .icon {
  display: none;
}

.rc_content {
  text-align: center; 
  padding-left:14px; 
  font-family: Poppins; 
  margin-top: 10px;  
  color: #FFFFFF;
}

.typeArea {
  margin: auto;
  width: 50%;
  text-align: left;
  padding: 10px;
}

@media screen and (max-width: 820px) {
  .rc_nav a {display: none;}
  .rc_nav a.icon {
    float: right;
    display: block;
    width: 60px;
  }
  div.typeArea {
    width: 90%;
  }
}

@media screen and (max-width: 820px) {
  .rc_nav.responsive {position: relative; top: 73px;}
  .rc_nav.responsive .icon {
    position: fixed;
    right: 0;
    top: 0;
  }
  .rc_nav.responsive a {
    float: none;
    display: block;
    text-align: center;
  }

}

#phoneDiv {
  width: 100%;
  padding: 10px 0;
  text-align: center;
  background-color: #000000;
  font-family: Poppins; 
  font-size: 2vw;
  margin-top: 10px;  
  color: #FFFFFF;
  display: none;
}

